version: '3.8'

services:
    todo:
        image: robogeek/todo-app:first-dockerize
        container_name: todo-app
        ports: 
            - "80:80"
        networks:
            - dbnet
        depends_on:
            - db
        environment:
            - SEQUELIZE_CONNECT=models/sequelize-mysql-docker.yaml
            - SEQUELIZE_DBHOST=db
            - SEQUELIZE_DBNAME=tododb
            - SEQUELIZE_DBUSER=dbuser
            - SEQUELIZE_DBPASSWD=passw0rd
            - DEBUG=todos:*
 
    db:
        image: mysql/mysql-server:5.7
        container_name: mysql
        command: [ "mysqld",
                    "--character-set-server=utf8mb4",
                    "--collation-server=utf8mb4_unicode_ci",
                    "--bind-address=0.0.0.0" ]
        networks:
            - dbnet
        volumes:
            - /home/ubuntu/dbdataa:/var/lib/mysql:rw
        environment:
            - MYSQL_ROOT_PASSWORD=w0rdw0rd
            - MYSQL_USER=dbuser
            - MYSQL_PASSWORD=passw0rd
            - MYSQL_DATABASE=tododb

# Consider adding:
#    NGINX      for webserver front-end
#    PHPMyAdmin for database administration

networks:
    dbnet:
