{% extends "base.njk" %}

{% block header %}
<title>ERROR</title>
{% endblock %}

{% block content %}
<h1>{{ message | escape }}</h1>
<h2>{{ error.status | escape }}</h2>
<pre>{{ error.stack | escape }}</pre>
{% endblock %}
