{% extends "base.njk" %}

{% block header %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<button type="button"
        class="btn btn-light" id="add-todo"
        data-toggle="modal" data-target="#addTodoModal">
            <img src="/assets/vendor/bootstrap/icons/file-plus.svg" alt="" 
                    width="32" height="32" title="Add TODO">
</button>
<ul class="list-group">
{% for todo in todos %}
    <li class="list-group-item">
        <button type="button" class="btn todo-title"
         data-toggle="collapse" data-target="#collapse{{ todo.id }}" 
         aria-expanded="false" aria-controls="collapse{{ todo.id }}"
        >{{ todo.title }}</button>

        {% if todo.precedence == 1 %}
        <span class="badge bg-success">Low</span>
        {% elseif todo.precedence == 2 %}
        <span class="badge bg-warning text-dark">Medium</span>
        {% elseif todo.precedence == 3 %}
        <span class="badge bg-danger">High</span>
        {% endif %}

        <button type="button" class="btn">
            <img src="/assets/vendor/bootstrap/icons/pencil.svg" alt="" 
                    width="32" height="32" title="Edit">
        </button>

        <button type="button" class="btn">
            <img src="/assets/vendor/bootstrap/icons/trash.svg" alt="" 
                    width="32" height="32" title="Delete">
        </button>

        <div class="todo-body collapse" id="collapse{{ todo.id }}">
            {{ todo.body }}
        </div>
    </li>
{% else %}
    <li class="list-group-item">Nothing here</li>
{% endfor %}
</ul>

{# Add Todo Modal #}
<div class="modal fade" id="addTodoModal" tabindex="-1"
        role="dialog" aria-labelledby="addTodoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addTodoModalLabel">Add TODO</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputTodoTitle" class="form-label">Title</label>
                    </div>
                    <div class="col-auto">
                        <input type="email" class="form-control"
                                id="inputTodoTitle" aria-describedby="todoTitleHelp">
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <label for="inputTodoBody" class="form-label">Body</label>
                    <textarea class="form-control" id="inputTodoBody"
                            aria-describedby="todoBodyHelp"
                            rows="3"></textarea>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputTodoPrecedence" class="form-label">Precedence</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" aria-label="Default select example"
                            id="todoPrecedenceSelect">
                            <option value="-1" selected>Select the precedence</option>
                            <option value="1">Low</option>
                            <option value="2">Medium</option>
                            <option value="3">High</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span id="todoPrecedenceHelp" class="form-text">
                            How important is this TODO item
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"
                    id="submitNewTodo">Save new TODO</button>
        </div>
        </div>
    </div>
</div>
{# END Add Todo Modal #}

{% endblock %}

{% block jscode %}
<script src="/socket.io/socket.io.js"></script> 
<script>
document.addEventListener("DOMContentLoaded", function(){

    console.log('socket.io starting');
    var socket = io('/home');

    document.getElementById('submitNewTodo').onclick = function() {
        if (document.getElementById('todoPrecedenceSelect').value === "-1") {
            console.error("Invalid precedence value");
            return;
        }
        socket.emit('create-todo', {
            title: document.getElementById('inputTodoTitle').value,
            body: document.getElementById('inputTodoBody').value,
            precedence: document.getElementById('todoPrecedenceSelect').value,
        },
        response => {
            var myModalEl = document.getElementById('addTodoModal');
            var modal = bootstrap.Modal.getInstance(myModalEl);
            modal.hide();
            document.getElementById('inputTodoTitle').value = '';
            document.getElementById('inputTodoBody').value = '';
            document.getElementById('todoPrecedenceSelect').value = '-1';
        });
    }
});
</script>
{% endblock %}