{% extends "base.njk" %}

{% block header %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<button type="button"
        class="btn btn-light" id="add-todo"
        data-toggle="modal" data-target="#addTodoModal">
            <img src="/assets/vendor/bootstrap/icons/file-plus.svg" alt="" 
                    width="32" height="32" title="Add TODO">
</button>
<ul id="TODOlistGroup" class="list-group">
<li class="list-group-item">.... please wait ....</li>
</ul>

{# Add Todo Modal #}
<div class="modal fade" id="addTodoModal" tabindex="-1"
        role="dialog" aria-labelledby="addTodoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addTodoModalLabel">Add TODO</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <input type="hidden" id="inputTodoID" name="id" value="-1">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputTodoTitle" class="form-label">Title</label>
                    </div>
                    <div class="col-auto">
                        <input type="email" class="form-control"
                                id="inputTodoTitle" aria-describedby="todoTitleHelp">
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <label for="inputTodoBody" class="form-label">Body</label>
                    <textarea class="form-control" id="inputTodoBody"
                            aria-describedby="todoBodyHelp"
                            rows="3"></textarea>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputTodoPrecedence" class="form-label">Precedence</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" aria-label="Default select example"
                            id="todoPrecedenceSelect">
                            <option value="-1" selected>Select the precedence</option>
                            <option value="1">Low</option>
                            <option value="2">Medium</option>
                            <option value="3">High</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"
                    id="submitNewTodo">Save new TODO</button>
        </div>
        </div>
    </div>
</div>
{# END Add Todo Modal #}

{% endblock %}

{% block jscode %}
<script src="/socket.io/socket.io.js"></script>
<script src="/main.js"></script>
{% endblock %}